# Virtual environment
venv/
.env/
.venv/

# Python bytecode en caches
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.dll

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
.pytest_cache/
.coverage
coverage.xml
htmlcov/
.tox/
.nox/
.cache/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# IDE / editors
.vscode/
.idea/
*.iml

# OS generated
.DS_Store
Thumbs.db

# Project specifieke bestanden
matplotlib_smoketest.png
pytest.ini
ci.yml
